* {
    font-family: "GRENDEL", sans-serif;
}

.screen {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 50px;
    color: white;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainMenu {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

#logo {
    width: 40%;
    height: 30vh;
}

#logo img {
    width: 100%;
    height: 100%;
}

.menuButton {
    text-align: center;
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    cursor: pointer;
}

.menuButton [selectionImage] {
    display: none;
}

#privateGame > * {
    margin: 5vh;
}

#login > * {
    margin: 5vh;
}

.error {
    color: red;
    text-align: center;
}

div[selectable="input"] {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

div[selectable="input"] > * {
    width: 50%;
}

div[selectable="input"] input:focus {
    background-color: orange;
}

div[selectable="button"] {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div[selectable="button"] button {
    width: 20%;
    padding: 5px;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.buttonContainer div[selectable="button"] button {
    width: 100%;
}

#deck {
    padding: 3vh;
}

#deckEdit {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#deckOptions {
    height: 5%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

#deckSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 20%;
    height: 90%;
    border: 0.5vh solid orange;
    padding: 0.5%;
}

#cardsContainer {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 3vh;
    width: 78%;
    border: 0.8vh solid orange;
    height: 90%;
}

.card {
    position: relative;
    width: 15%;
    padding-top: 15%;
    border-width: 0.3vw;
    border-style: solid;
    border-color: black;
    overflow: hidden;
}

.card img {
    width: 500%;
    height: 600%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cardPreview {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 95%;
    height: 4vh;
    padding: 2vh;
    font-size: 1.2vw;
    margin: 0.5vh 0;
    border: 0.1vw solid white;
}

.cardPreview .card {
    width: 2vh;
    padding-top: 2vh;
}

.cardPreview .name {
    width: 85%;
    text-align: center;
}
